/* ************************************************************************ */
/* **                              - TOUT -                              ** */
/* ************************************************************************ */

.bodyStyle {
    background: url("https://wallpaperscraft.com/image/restaurant_table_interior_modern_style_39288_1920x1080.jpg") no-repeat fixed;
}


/* ************************************************************************ */
/* **                          - PAGE ACCUEIL / INDEX -                  ** */
/* ************************************************************************ */
.panelLire {
    text-align: center;
}

.btnLire{
color:chocolate;
border-radius: 5px 15px 5px 15px;
}

.NomResto{
    color:chocolate;
    font-style: italic;
}

.infosResto>ul>li{
    list-style-type: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: chocolate;
}

.titMain>h1{
    color:chocolate;
    text-align:center;
    font-style: italic;
    font-size:60px;
}


.pListRec{
    text-align: center;
    
}

.btnListRec{
    color: chocolate;
    background-color: #101010;
    padding: 5px 15px 5px 15px;
    border-radius: 5px 15px 5px 15px;
    font-style: italic;
    font-size: 20px;
    opacity:0.85;
}



/* ************************************************************************ */
/* **                   - PAGE LIST RECIPES & DETAIL RECIPES -           ** */
/* ************************************************************************ */
#section_search{

    color:chocolate;
    opacity:0.90;
}
.listRecipes{
    opacity:0.92;
}

.titListRec {
    font-style:italic;
}

.search{
    color: red;
}

/* ************************************************************************ */
/* **                          - PAGE CONTACT -                          ** */
/* ************************************************************************ */

.containerContact {
    margin-top: 100px;
}

.backContact {
    background-color: white;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid chocolate;
}

.sectionContact {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}


.labelContact {
    color: chocolate;
    background-color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px 15px 5px 15px;
}

/* ************************************************************************ */
/* **                                - FOOTER  -                         ** */
/* ************************************************************************ */

.footAlign {
    color: white;
    text-align: center;
}


/* ************************************************************************ */
/* **                                -  -                                ** */
/* ************************************************************************ */

.titListMemb{
    color:white;
}
