/* ************************************************************************ */
/* **                              - TOUT -                              ** */
/* ************************************************************************ */

body {

width: 70%;
margin: 0 15% 0 15%;
background: url("../img/imgBack.jpg") no-repeat fixed;
background-position: contain;
}

nav {
height: 100px;
vertical-align: middle;
margin: 0;

}

img {
width:1400px;

}

.container {
width: 100%;
padding: 0;
position: absolute;
}


/* ************************************************************************ */
/* **                            - Bootstrap -                           ** */
/* ************************************************************************ */


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* ************************************************************************ */
/* **                            - BARRE NAV -                           ** */
/* ************************************************************************ */

.infoResto {
/*float: none;*/

}

.navbar {
vertical-align: middle;
margin-right:0;
margin-bottom: 0;
background-color:black;
}
.navbar, .navbar-inverse, .navbar-fixed-top {
margin-right: 0 auto;

}

.navbar-fixed-bottom, .navbar-fixed-top {
position: relative;
}

.menuNav{
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	font-family: arial, sans-serif;
	list-style-type: none;
}


/* ************************************************************************ */
/* **                           - SECTION SLIDE -                        ** */
/* ************************************************************************ */

.centerSlide{
text-align: center;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
display: inline;
height:700px;

}

.sectionCove{
/*width:100%;
	*/
}

/* ************************************************************************ */
/* **                          - SECTION  3 LIST -                       ** */
/* ************************************************************************ */

.recette{
/*display: inline-block;*/

}

.rec {
width:30%;
}


.clic4list {
padding: 11px;
cursor: pointer;
border-radius: 5px;
color: darkblue;
text-decoration: none;

}

.clic4list:hover {
color: darkblue;
border: 1px solid blue;
text-decoration: none;
padding: 10px;

}

.img3rec{
	width:300px;
	height: 300px;
}

.sectiontitre{ /* modifier couleur de fond du main*/


}
/* ************************************************************************ */
/* **                              - FOOTER -                            ** */
/* ************************************************************************ */
#foot {
padding-right: 0;
position: fixed;
bottom: 0;
width: 100%;
height:75%;
}






